@{
    ViewData["Title"] = "Documentation Page";
}

<div class="p-3"></div>
<div class="row mt-5">
    <div class="col-md-3 table-content">
        <p style="font-size:18pt;" class="font-weight-bold text-center mb-1">Table of content</p>

        <ul class="list-group list-group-flush">
            <li class="list-group-item list-item"><a class="text-decoration-none a-list" href="#3T-at-a-Glance">3T at a Glance</a></li>
            <li class="list-group-item list-item"><a class="text-decoration-none a-list" href="#Legal-Document">Legal Document</a></li>
            <li class="list-group-item list-item"><a class="text-decoration-none a-list" href="#License-Certification">License & Certification Process</a></li>
            <li class="list-group-item list-item"><a class="text-decoration-none a-list" href="#List-Project">List of completed Project and on going Project</a></li>
            <li class="list-group-item list-item"><a class="text-decoration-none a-list" href="#Our-Services">Our Service</a></li>
            <li class="list-group-item list-item"><a class="text-decoration-none a-list" href="#Organization-Structure">Organization Structure</a></li>
            <li class="list-group-item list-item"><a class="text-decoration-none a-list" href="#Contact-Us">Contact Us</a></li>
        </ul>
    </div>
    <div class="col-md-9 border-right">
        <div class="Section-1 mt-2 mb-2 pb-4">
            <div class="Head">
                <p id="3T-at-a-Glance" style="font-size:32pt" class="font-weight-bold">3T at a Glance</p>
            </div>
            <div class="Body text-justify">
                <p>
                    <strong>Terang Tekonologi Telekomunikasi</strong>, found in year of 2007, is a company under managed by professionals
                    which have ten years works experiences in reputable international & national telecommunication and
                    information technology company. Tenrang Tekonologi Telekomuniksi called 3T Service creatively arrange the Microwave license and Certification
                    Telecommunication equipment. 3T Service currently is a professional business solution services in telecommunication
                    and information technology.
                </p>
                <p>
                    By the mid of 2007, 3T Service has arrange all Microwave license of NEC Indonesia from Telkom Flexy, Esia, and Smart Telecom.
                </p>
                <p>
                    Key Operational Development : Flexible Time and Speed of Arrangement
                </p>
                <p>Key Operational Strengths:</p>
                <ul>
                    <li>
                        Guaranteed on demand for arrange Microwave License and Certification equipment
                    </li>
                    <li>
                        Efficient Technical Help :
                        <ul>
                            <li>24 x 7 x 365 Technical Help</li>
                            <li>1.5 hours respon time</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="Section-2 mt-2 mb-2 pb-4">
            <div class="'Head">
                <p id="Legal-Document" style="font-size:32pt" class="font-weight-bold">Legal Document</p>
            </div>
            <div class="Body">
                <div class="Media mt-4">
                    <div class="Media-text">
                        <p>
                            NPWP 21.034.610.2-021.000:
                        </p>
                    </div>
                    <div class="Media-body d-flex justify-content-center">
                        <img src="~/images/NPWP.png" />
                    </div>
                </div>
                <div class="Media mt-4">
                    <div class="Media-head">
                        <p>
                            Surat Tugas Pembuktian Alamat
                            ST-00082/WPJ.06/KP.0703/2008
                            &amp;
                            AKTA
                            SK.MENHUKHAM.C.56.HT.03.01.th.2006:
                        </p>
                    </div>
                    <div class="Media-body row justify-content-around">
                        <img class="col-md-6" src="~/images/SuratBuktiAlamat.png" />
                        <img class="col-md-6" src="~/images/Akta.png" />
                    </div>
                </div>
                <div class="Media mt-4">
                    <div class="Media-head">
                        <p>
                            Surat Keterangan Terdaftar
                            No:PEM.00564/WPJ.06/KP.0703/2008
                            &amp;
                            Surat Pengukuhan Kena pajak
                            NO:PEM.00565/WPJ.06/KP.0703/2008:
                        </p>
                    </div>
                    <div class="Media-body row justify-content-around">
                        <img class="col-md-6" src="~/images/KeteranganTerdaftar.png" />
                        <img class="col-md-6" src="~/images/SuratPajak.png" />
                    </div>
                </div>
                <div class="Media mt-4">
                    <div class="Media-head">
                        <p>
                            Surat Keterangan Domisili Perusahaan
                            Nomor : 48/1.824.02/2008
                            &amp;
                            Surat Keterangan Keterangan
                            Nomor : 426/1.755/2008:
                        </p>
                    </div>
                    <div class="Media-body row justify-content-around">
                        <img class="col-md-6" src="~/images/Domisili.png" />
                        <img class="col-md-6" src="~/images/KeteranganProvinsi.png" />
                    </div>
                </div>
                <div class="Media mt-4">
                    <div class="Media-head">
                        <p>
                            Surat Keterangan
                            Nomor : 113/1.824.6/08
                            &amp;
                            Pengesahan Badan Hukum Perseroan
                            Nomor : AHU-28766.AH.01.01.Tahun 2008:
                        </p>
                    </div>
                    <div class="Media-body row justify-content-around">
                        <img class="col-md-6" src="~/images/SuratKeterangan2.png" />
                        <img class="col-md-6" src="~/images/PengesahanBadanPerseroan.png" />
                    </div>
                </div>
                <div class="Media mt-4">
                    <div class="Media-head">
                        <p>
                            Tanda Daftar Perusahaan Perorangan Terdaftar
                            09.05.1.51.60267
                            &amp;
                            Surat Izin Usaha Perdagangan
                            Nomor : 1.442./1.824.51:
                        </p>
                    </div>
                    <div class="Media-body row justify-content-around">
                        <img class="col-md-6" src="~/images/PerusahaanPerorangan.png" />
                        <img class="col-md-6" src="~/images/IzinUsahaPerdagangan.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="Section-3 mt-2 mb-2 pb-4">
            <div class="Head">
                <p id="License-Certification" style="font-size:32pt" class="font-weight-bold">License &amp; Cerfitication</p>
            </div>
            <div class="Body">
                <div class="Media pb-1 mt-2">
                    <div class="Media-head">
                        <p style="font-size:15pt" class="font-weight-bold">
                            Process License
                        </p>
                    </div>
                    <div class="Media-body row justify-content-center">
                        <img class="col-md-6" src="~/images/license.png" />
                        <img class="col-md-6" src="~/images/license2.png" />
                    </div>
                </div>
                <div class="Media  pb-1 mt-4">
                    <div class="Media-head">
                        <p style="font-size:15pt" class="font-weight-bold">
                            Microwave License Aggrement
                        </p>
                    </div>
                    <div class="Media-body d-flex justify-content-center">
                        <img src="~/images/MicrowaveLicense.png" />
                    </div>
                </div>

                <div class="Media  pb-1 mt-4">
                    <div class="Media-head">
                        <p style="font-size:15pt" class="font-weight-bold">
                            New Permit Application &amp; Permit Extension Application
                        </p>
                    </div>
                    <div class="Media-body d-flex justify-content-center">
                        <img src="~/images/ProcessPermohonanIzin.png" />
                    </div>
                </div>
                <div class="Media  pb-1 mt-4">
                    <div class="Media-head">
                        <p style="font-size:15pt" class="font-weight-bold">
                            Certification Process
                        </p>
                    </div>
                    <div class="Media-body d-flex justify-content-center">
                        <img src="~/images/setelahPermohonanizin.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="Section-4 mt-2 mb-2 pb-4">
            <div class="Head">
                <p id="List-Project" style="font-size:32pt" class="font-weight-bold">List Of Completed Project &amp; On Going Project</p>
            </div>
            <div class="Body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Work Description</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Year</th>
                            <th scope="col">Finish</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>FREQ. License Of Microwave</td>
                            <td>PT. NEC-Telkom</td>
                            <td>2007</td>
                            <td>ISR</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>FREQ. License Of Microwave</td>
                            <td>PT. NE C-Bakrie_TEL</td>
                            <td>2007</td>
                            <td>ISR</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>FREQ. License Of Microwave</td>
                            <td>PT. NE C-Bakrie_TEL</td>
                            <td>2007</td>
                            <td>ISR</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>FREQ. License Of Microwave</td>
                            <td>PT. NE C-Bakrie_TEL</td>
                            <td>2007</td>
                            <td>ISR</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>FREQ. License Of Microwave</td>
                            <td>PT. NE C-Bakrie_TEL</td>
                            <td>2007</td>
                            <td>ISR</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>FREQ. License Of Microwave</td>
                            <td>PT. NE C-Bakrie_TEL</td>
                            <td>2007</td>
                            <td>ISR</td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>FREQ. License Of Microwave</td>
                            <td>PT. NE C-Bakrie_TEL</td>
                            <td>2007</td>
                            <td>ISR</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>FREQ. License Of Microwave</td>
                            <td>PT. NE C-Bakrie_TEL</td>
                            <td>2007</td>
                            <td>ISR</td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>FREQ. License Of Microwave</td>
                            <td>PT. NE C-Bakrie_TEL</td>
                            <td>2007</td>
                            <td>ISR</td>
                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td>FREQ. License Of Microwave</td>
                            <td>PT. NE C-Bakrie_TEL</td>
                            <td>2007</td>
                            <td>ISR</td>
                        </tr>
                        <tr>
                            <th scope="row">11</th>
                            <td>FREQ. License Of Microwave</td>
                            <td>PT. NE C-Bakrie_TEL</td>
                            <td>2007</td>
                            <td>ISR</td>
                        </tr>
                        <tr>
                            <th scope="row">12</th>
                            <td>FREQ. License Of Microwave</td>
                            <td>PT. NE C-Bakrie_TEL</td>
                            <td>2007</td>
                            <td>ISR</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="Section-4 mt-2 mb-2 pb-4">
            <div class="Head">
                <p id="Our-Services" style="font-size:32pt" class="font-weight-bold">Our Services</p>
            </div>
            <div class="Body">
                <ul>
                    <li>
                        Reduce the time of arrangement for the Microwave License & Certification Telecommunication equipment.
                    </li>
                    <li>
                        Simplify concerns over human resources in the government.
                    </li>
                    <li>
                        Eliminate non predicable cost.
                    </li>
                    <li>
                        Guaranteed service level by 3T Service provider.
                    </li>
                </ul>
            </div>
        </div>
        <div class="Section-4 mt-2 mb-2 pb-4">
            <div class="Head">
                <p id="Organization-Structure" style="font-size:32pt" class="font-weight-bold">Organization Structure</p>
            </div>
            <div class="Body d-flex justify-content-center">
                <img src="~/images/OrganizationStructure.png" />
            </div>
        </div>
        <div class="Section-4 mt-2 mb-2 pb-4">
            <div class="Head">
                <p id="Contact-Us" style="font-size:32pt" class="font-weight-bold">Contact Us</p>
            </div>
            <div class="Body">
                <div class="Media">
                    <div class="Media-head">
                        <p style="font-size:18pt" class="font-weight-bold">PT. Terang Teknologi Telekomunikasi</p>
                    </div>
                    <div class="Media-body">
                        <p>
                            <span class="font-weight-bold">Address : </span>
                            Rasuna Office Park, NO-5
                            Komplek  Apartment Rasuna Said
                            Jl. HR Rasuna Said – Kuningan
                            Jakarta Selatan
                        </p>
                        <p>
                            <span class="font-weight-bold">Email : </span>
                            kgs.sukri@terangtelekomunikasi.com
                        </p>

                        <div class="row">
                            <div class="col-md-4">
                                <p>
                                    <span class="font-weight-bold">
                                        Phone :
                                    </span>
                                    <ul>
                                        <li>
                                            +62.21 31902032
                                        </li>
                                        <li>
                                            +62.21 98277852
                                        </li>
                                        <li>
                                            +62.21 98564707
                                        </li>
                                    </ul>
                                </p>
                            </div>

                            <div class="col-md-4">
                                <p>
                                    <span class="font-weight-bold">CP : </span>
                                    <ul>
                                        <li><span class="font-weight-bold">Ugie : </span>+628170824985</li>
                                        <li><span class="font-weight-bold">Sukri : </span>+6281290367395</li>
                                        <li><span class="font-weight-bold">Rahma : </span>+6289899990839</li>
                                    </ul>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <span class="font-weight-bold">Fax : </span>
                                    <ul>
                                        <li><span class="font-weight-bold">+62.21 31934808</span></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>