@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-5 p-5">
    <div id="section-1-Home" class="section-1">
        <img src="~/images/internetTower.png" style="width:100%;height:80vh" />
    </div>

    <p class="display-3">Please Check Our Documentation for More Information</p>
</div>